{:kotoba.app/id "cloud.itonami.isic-2920", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigs3wzkl6vlppxuucd5fcieqhrqq5bwc2n44u3ufkfazcza2eegx4", :kotoba.app/embed-url "ipfs://bafkreigs3wzkl6vlppxuucd5fcieqhrqq5bwc2n44u3ufkfazcza2eegx4", :published {:archive "https://kotobase.net/ipfs/bafkreigs3wzkl6vlppxuucd5fcieqhrqq5bwc2n44u3ufkfazcza2eegx4", :size 72745, :put-status 201, :get-status 200, :at "2026-08-15T13:44:28.975Z"}}
